[Desktop Entry]
Name=cloudsync
Name[ca]=cloudsync
Name[ca@valencia]=cloudsync
Name[cs]=cloudsync
Name[da]=cloudsync
Name[de]=cloudsync
Name[el]=cloudsync
Name[en_GB]=cloudsync
Name[eo]=cloudsync
Name[es]=cloudsync
Name[et]=cloudsync
Name[fi]=cloudsync
Name[fr]=cloudsync
Name[ga]=cloudsync
Name[gl]=cloudsync
Name[hu]=cloudsync
Name[it]=cloudsync
Name[ja]=cloudsync
Name[km]=cloudsync
Name[ko]=cloudsync
Name[lv]=cloudsync
Name[nb]=cloudsync
Name[nds]=cloudsync
Name[nl]=cloudsync
Name[nn]=cloudsync
Name[pa]=cloudsync
Name[pl]=cloudsync
Name[pt]=cloudsync
Name[pt_BR]=cloudsync
Name[ro]=cloudsync
Name[ru]=cloudsync
Name[sr]=cloudsync
Name[sr@ijekavian]=cloudsync
Name[sr@ijekavianlatin]=cloudsync
Name[sr@latin]=cloudsync
Name[sv]=cloudsync
Name[tr]=cloudsync
Name[uk]=cloudsync
Name[x-test]=xxcloudsyncxx
Name[zh_CN]=cloudsync
Name[zh_TW]=cloudsync
Exec=cloudsync %i -caption "%c"
Icon=cloudsync
Type=Application
X-DocPath=cloudsync/index.html
GenericName=A KDE4 Application
GenericName[ca]=Una aplicació del KDE4
GenericName[ca@valencia]=Una aplicació del KDE4
GenericName[cs]=Aplikace prostředí KDE
GenericName[da]=Et KDE4-program
GenericName[de]=Eine KDE-4-Anwendung
GenericName[el]=Μια εφαρμογή KDE4
GenericName[en_GB]=A KDE4 Application
GenericName[es]=Una aplicación de KDE4
GenericName[et]=KDE4 rakendus
GenericName[fi]=KDE4-sovellus
GenericName[fr]=Une application pour KDE4
GenericName[ga]=Feidhmchlár KDE4
GenericName[gl]=Un programa de KDE4
GenericName[hu]=KDE4-alkalmazás
GenericName[it]=Un'applicazione di KDE 4
GenericName[ja]=KDE 4 アプリケーション
GenericName[km]=កម្មវិធី KDE4
GenericName[ko]=KDE4 프로그램
GenericName[lv]=KDE4 lietotne
GenericName[nb]=Et KDE4-program
GenericName[nds]=En KDE4-Programm
GenericName[nl]=Een KDE4-programma
GenericName[nn]=Eit KDE 4-program
GenericName[pa]=KDE4 ਐਪਲੀਕੇਸ਼ਨ
GenericName[pl]=Program dla KDE4
GenericName[pt]=Uma Aplicação do KDE4
GenericName[pt_BR]=Um aplicativo do KDE4
GenericName[ro]=O aplicație KDE4
GenericName[ru]=Приложение KDE4
GenericName[sr]=КДЕ‑4 програм
GenericName[sr@ijekavian]=КДЕ‑4 програм
GenericName[sr@ijekavianlatin]=KDE4 program
GenericName[sr@latin]=KDE4 program
GenericName[sv]=Ett KDE4-program
GenericName[tr]=Bir KDE4 Uygulaması
GenericName[uk]=Програма для KDE4
GenericName[x-test]=xxA KDE4 Applicationxx
GenericName[zh_CN]=KDE4 应用程序
GenericName[zh_TW]=KDE4 應用程式
Terminal=false
